#섹터별 뉴스 심리 지수 데이터프레임 만들기

## 주택 뉴스 심리지수

In [ ]:
import os
import pandas as pd
from dateutil import relativedelta


keyword_head = ['주택','아파트','주거','오피스텔','부동산','상업용']
keyword_center = ['수요','투자','선호','경기','거래','가치','매매','임대료','수익','이익','수익률','건설','건축','착공','시공','가격','매매가','전세가','분양가','전망','예측']
positive_word = ['강세','강화','유망','호재','증가','확대','급등','개선','상승','인기','활황','집중','반등']
negative_word = ['약세','실망','하락','급락','감소','축소','위험','최저','위축','충격','약화','둔화','침체']





year = ['2019','2020','2021']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
주택뉴스심리지수 = []
date = []
for y in year:
  path_dir = './drive/MyDrive/krx 빅데이터/Data/섹터_주택/' + y
  file_list = sorted(os.listdir(path_dir))
  s_date = '01.01'
  e_date = '01.31'
  for m,file in zip(month,file_list):
    df = pd.read_csv(path_dir + '/'  + file)  
    df.dropna(axis =0,inplace=True)
    mask = df['title'].str.contains('인사')
    df = df[~mask]
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
    df['date'] = df['date'].dt.strftime("%Y-%m-%d")
    first_date = y+'-'+m+'-'+'01'
    now_date = pd.to_datetime(first_date)
    last_date = now_date + relativedelta.relativedelta(months = 1) - relativedelta.relativedelta(days = 1)
    last_date = last_date.strftime("%Y-%m-%d")

    date_index = pd.date_range(first_date,last_date,freq = "D")
    date_index = date_index.strftime("%Y-%m-%d") 

    for x in list(range(len(date_index))):


      data = df[df['date'] == date_index[x]]

      positive_news_cnt = 0
      negative_news_cnt = 0
      neutral_news_cnt = 0
      for corpus in data['content']:

        corpus = corpus.split("다.")
        sentence = []
        for i in keyword_head: ## 해당 기사의 문장 중 첫번째 단어군 중 하나라도 포함하는지
          for j in corpus: 
            if i in j:
              sentence.append(j) 
        sentence_2 = []
        result_positive = []
        for i in keyword_center: ## 추출된 문장들이 두번째 단어군 중 하나라도 포함하는지
          for j in sentence:
            if (i in j) and (i not in sentence_2):
              sentence_2.append(j)

        for i in sentence_2:   ## 또 추출된 문장에서 부정적단어는 없으면서 긍정적 단어가 존재하는지
          for n in negative_word:
            if n in i:
              break
          else:
            for p in positive_word:
              if (p in i) and (i not in result_positive) :
                result_positive.append(i)
        
        
        result_negative = []   ## 추출된 문장에서 긍정적단어는 없으면서 부정적 단어가 존재하는지
        for i in sentence_2:
          for p in positive_word:
            if p in i:
              break
          else:
            for n in negative_word:
              if (n in i) and (i not in result_negative):
                result_negative.append(i)

        if result_positive : ## 기사에 긍정적 문장이 하나라도 있다면 긍정뉴스로 +1
          positive_news_cnt +=1
        if result_negative : ## 기사에 부정적 문장이 하나라도 있다면 부정뉴스로 +1
          negative_news_cnt +=1
        if sentence_2:
          neutral_news_cnt += 1

      if neutral_news_cnt == 0:
        ans = 0
        date.append(date_index[x])
        주택뉴스심리지수.append(ans)
      else:
        ans = round(positive_news_cnt/(neutral_news_cnt),3)

        date.append(date_index[x])
        주택뉴스심리지수.append(ans)




news_df = pd.DataFrame({'date':date,'주택뉴스심리지수': 주택뉴스심리지수})
news_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            date  주택뉴스심리지수
0     2019-01-01     0.550
1     2019-01-02     0.517
2     2019-01-03     0.704
3     2019-01-04     0.478
4     2019-01-05     0.778
...          ...       ...
1091  2021-12-27     0.474
1092  2021-12-28     0.398
1093  2021-12-29     0.471
1094  2021-12-30     0.569
1095  2021-12-31     0.629

[1096 rows x 2 columns]


## 물류뉴스심리지수

In [ ]:
import os
from dateutil import relativedelta
import pandas as pd

keyword_head = ['물류','물류센터','저온창고','상온창고','부동산','상업용']
keyword_center = ['수요','투자','선호','경기','거래','가치','매매','임대료','수익','이익','수익률','건설','건축','착공','시공','가격','매매가','전세가','분양가','전망','예측']
positive_word = ['강세','강화','유망','호재','증가','확대','급등','개선','상승','인기','활황','집중','반등']
negative_word = ['약세','실망','하락','급락','감소','축소','위험','최저','위축','충격','약화','둔화','침체']
year = ['2019','2020','2021']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
물류뉴스심리지수 = []
date = []
for y in year:
  path_dir = './drive/MyDrive/krx 빅데이터/Data/섹터_물류/' + y
  file_list = sorted(os.listdir(path_dir))
  s_date = '01.01'
  e_date = '01.31'
  for m,file in zip(month,file_list):
    df = pd.read_csv(path_dir + '/'  + file)  ## 1월1일부터 1월 31일의 데이터 ## 2월 1일부터 2월 28일의 데이터
    df.dropna(axis =0,inplace=True)
    mask = df['title'].str.contains('인사')
    df = df[~mask]
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
    df['date'] = df['date'].dt.strftime("%Y-%m-%d")
    first_date = y+'-'+m+'-'+'01' #2019.01.01
    now_date = pd.to_datetime(first_date)
    last_date = now_date + relativedelta.relativedelta(months = 1) - relativedelta.relativedelta(days = 1)
    last_date = last_date.strftime("%Y-%m-%d")

    date_index = pd.date_range(first_date,last_date,freq = "D")
    date_index = date_index.strftime("%Y-%m-%d") ##1월1일부터 1월 31일의 날짜

    for x in list(range(len(date_index))):


      data = df[df['date'] == date_index[x]]

      positive_news_cnt = 0
      negative_news_cnt = 0
      neutral_news_cnt = 0
      for corpus in data['content']:

        corpus = corpus.split("다.")
        sentence = []
        for i in keyword_head: ## 해당 기사의 문장 중 첫번째 단어군 중 하나라도 포함하는지
          for j in corpus: 
            if i in j:
              sentence.append(j) 
        sentence_2 = []
        result_positive = []
        for i in keyword_center: ## 추출된 문장들이 두번째 단어군 중 하나라도 포함하는지
          for j in sentence:
            if (i in j) and (i not in sentence_2):
              sentence_2.append(j)

        for i in sentence_2:   ## 또 추출된 문장에서 부정적단어는 없으면서 긍정적 단어가 존재하는지
          for n in negative_word:
            if n in i:
              break
          else:
            for p in positive_word:
              if (p in i) and (i not in result_positive) :
                result_positive.append(i)
        
        
        result_negative = []   ## 추출된 문장에서 긍정적단어는 없으면서 부정적 단어가 존재하는지
        for i in sentence_2:
          for p in positive_word:
            if p in i:
              break
          else:
            for n in negative_word:
              if (n in i) and (i not in result_negative):
                result_negative.append(i)

        if result_positive : ## 기사에 긍정적 문장이 하나라도 있다면 긍정뉴스로 +1
          positive_news_cnt +=1
        if result_negative : ## 기사에 부정적 문장이 하나라도 있다면 부정뉴스로 +1
          negative_news_cnt +=1
        if sentence_2:
          neutral_news_cnt += 1

      if neutral_news_cnt == 0:
        ans = 0
        date.append(date_index[x])
        물류뉴스심리지수.append(ans)
      else:
        ans = round(positive_news_cnt/(neutral_news_cnt),3)

        date.append(date_index[x])
        물류뉴스심리지수.append(ans)




news_물류_df = pd.DataFrame({'date':date,'물류뉴스심리지수': 물류뉴스심리지수})
news_물류_df

            date  물류뉴스심리지수
0     2019-01-01     0.333
1     2019-01-02     0.667
2     2019-01-03     0.500
3     2019-01-04     0.500
4     2019-01-05     0.500
...          ...       ...
1091  2021-12-27     0.500
1092  2021-12-28     0.438
1093  2021-12-29     0.000
1094  2021-12-30     0.636
1095  2021-12-31     0.500

[1096 rows x 2 columns]

## 오피스뉴스심리지수

In [ ]:
keyword_head = ['오피스','빌딩','상업용 빌딩','업무용 빌딩','부동산','상업용']
year = ['2019','2020','2021']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']

오피스뉴스심리지수 = []
date = []

for y in year:
  path_dir = './drive/MyDrive/krx 빅데이터/Data/섹터_오피스/' + y
  file_list = sorted(os.listdir(path_dir))
  s_date = '01.01'
  e_date = '01.31'
  for m,file in zip(month,file_list):
    df = pd.read_csv(path_dir + '/'  + file) 
    df.dropna(axis =0,inplace=True)
    mask = df['title'].str.contains('인사')
    df = df[~mask]
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
    df['date'] = df['date'].dt.strftime("%Y-%m-%d")
    first_date = y+'-'+m+'-'+'01'
    now_date = pd.to_datetime(first_date)
    last_date = now_date + relativedelta.relativedelta(months = 1) - relativedelta.relativedelta(days = 1)
    last_date = last_date.strftime("%Y-%m-%d")

    date_index = pd.date_range(first_date,last_date,freq = "D")
    date_index = date_index.strftime("%Y-%m-%d")

    for x in list(range(len(date_index))):


      data = df[df['date'] == date_index[x]]

      positive_news_cnt = 0
      negative_news_cnt = 0
      neutral_news_cnt = 0
      for corpus in data['content']:

        corpus = corpus.split("다.")
        sentence = []
        for i in keyword_head: ## 해당 기사의 문장 중 첫번째 단어군 중 하나라도 포함하는지
          for j in corpus: 
            if i in j:
              sentence.append(j) 
        sentence_2 = []
        result_positive = []
        for i in keyword_center: ## 추출된 문장들이 두번째 단어군 중 하나라도 포함하는지
          for j in sentence:
            if (i in j) and (i not in sentence_2):
              sentence_2.append(j)

        for i in sentence_2:   ## 또 추출된 문장에서 부정적단어는 없으면서 긍정적 단어가 존재하는지
          for n in negative_word:
            if n in i:
              break
          else:
            for p in positive_word:
              if (p in i) and (i not in result_positive) :
                result_positive.append(i)
        
        
        result_negative = []   ## 추출된 문장에서 긍정적단어는 없으면서 부정적 단어가 존재하는지
        for i in sentence_2:
          for p in positive_word:
            if p in i:
              break
          else:
            for n in negative_word:
              if (n in i) and (i not in result_negative):
                result_negative.append(i)

        if result_positive : ## 기사에 긍정적 문장이 하나라도 있다면 긍정뉴스로 +1
          positive_news_cnt +=1
        if result_negative : ## 기사에 부정적 문장이 하나라도 있다면 부정뉴스로 +1
          negative_news_cnt +=1
        if sentence_2:
          neutral_news_cnt += 1

      if neutral_news_cnt == 0:
        ans = 0
        date.append(date_index[x])
        오피스뉴스심리지수.append(ans)
      else:
        ans = round(positive_news_cnt/(neutral_news_cnt),3)

        date.append(date_index[x])
        오피스뉴스심리지수.append(ans)




news_오피스_df = pd.DataFrame({'date':date,'오피스뉴스심리지수': 오피스뉴스심리지수})
news_오피스_df

            date  오피스뉴스심리지수
0     2019-01-01      0.000
1     2019-01-02      0.222
2     2019-01-03      0.889
3     2019-01-04      0.667
4     2019-01-05      0.000
...          ...        ...
1091  2021-12-27      0.333
1092  2021-12-28      0.000
1093  2021-12-29      0.400
1094  2021-12-30      0.167
1095  2021-12-31      0.167

[1096 rows x 2 columns]

## 리테일뉴스심리지수

In [ ]:
keyword_head = ['리테일','백화점','몰','쇼핑센터','부동산','상업용']



year = ['2019','2020','2021']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']

리테일뉴스심리지수 = []
date = []

for y in year:
  path_dir = './drive/MyDrive/krx 빅데이터/Data/섹터_리테일/' + y
  file_list = sorted(os.listdir(path_dir))
  s_date = '01.01'
  e_date = '01.31'
  for m,file in zip(month,file_list):
    df = pd.read_csv(path_dir + '/'  + file) 
    df.dropna(axis =0,inplace=True)
    mask = df['title'].str.contains('인사')
    df = df[~mask]
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
    df['date'] = df['date'].dt.strftime("%Y-%m-%d")
    first_date = y+'-'+m+'-'+'01'
    now_date = pd.to_datetime(first_date)
    last_date = now_date + relativedelta.relativedelta(months = 1) - relativedelta.relativedelta(days = 1)
    last_date = last_date.strftime("%Y-%m-%d")

    date_index = pd.date_range(first_date,last_date,freq = "D")
    date_index = date_index.strftime("%Y-%m-%d")

    for x in list(range(len(date_index))):


      data = df[df['date'] == date_index[x]]

      positive_news_cnt = 0
      negative_news_cnt = 0
      neutral_news_cnt = 0
      for corpus in data['content']:

        corpus = corpus.split("다.")
        sentence = []
        for i in keyword_head: ## 해당 기사의 문장 중 첫번째 단어군 중 하나라도 포함하는지
          for j in corpus: 
            if i in j:
              sentence.append(j) 
        sentence_2 = []
        result_positive = []
        for i in keyword_center: ## 추출된 문장들이 두번째 단어군 중 하나라도 포함하는지
          for j in sentence:
            if (i in j) and (i not in sentence_2):
              sentence_2.append(j)

        for i in sentence_2:   ## 또 추출된 문장에서 부정적단어는 없으면서 긍정적 단어가 존재하는지
          for n in negative_word:
            if n in i:
              break
          else:
            for p in positive_word:
              if (p in i) and (i not in result_positive) :
                result_positive.append(i)
        
        
        result_negative = []   ## 추출된 문장에서 긍정적단어는 없으면서 부정적 단어가 존재하는지
        for i in sentence_2:
          for p in positive_word:
            if p in i:
              break
          else:
            for n in negative_word:
              if (n in i) and (i not in result_negative):
                result_negative.append(i)

        if result_positive : ## 기사에 긍정적 문장이 하나라도 있다면 긍정뉴스로 +1
          positive_news_cnt +=1
        if result_negative : ## 기사에 부정적 문장이 하나라도 있다면 부정뉴스로 +1
          negative_news_cnt +=1
        if sentence_2:
          neutral_news_cnt += 1

      if neutral_news_cnt == 0:
        ans = 0
        date.append(date_index[x])
        리테일뉴스심리지수.append(ans)
      else:
        ans = round(positive_news_cnt/(neutral_news_cnt),3)

        date.append(date_index[x])
        리테일뉴스심리지수.append(ans)

news_리테일_df = pd.DataFrame({'date':date,'리테일뉴스심리지수': 리테일뉴스심리지수})
news_리테일_df

            date  리테일뉴스심리지수
0     2019-01-01       1.00
1     2019-01-02       0.25
2     2019-01-03       0.50
3     2019-01-04       0.00
4     2019-01-05       0.00
...          ...        ...
1091  2021-12-27       0.00
1092  2021-12-28       0.00
1093  2021-12-29       1.00
1094  2021-12-30       0.50
1095  2021-12-31       0.00

[1096 rows x 2 columns]

In [ ]:
news_df = pd.DataFrame({'Date':date,'주택뉴스심리지수': 주택뉴스심리지수, '오피스뉴스심리지수': 오피스뉴스심리지수, '리테일뉴스심리지수': 리테일뉴스심리지수,'물류뉴스심리지수':물류뉴스심리지수})

In [ ]:
news_df.to_csv('./drive/MyDrive/krx/부동산심리지수_기초.csv',index = True)

In [ ]:
def mean(df):
  if df['Date'][:4] == '2019':
    return round(df['주택뉴스심리지수']*0.6010 + df['오피스뉴스심리지수']*0.2806 + df['리테일뉴스심리지수']*0.0999+ df['물류뉴스심리지수']*0.0185,3)
  elif df['Date'][:4] == '2020':
    return round(df['주택뉴스심리지수']*0.6341 + df['오피스뉴스심리지수']*0.2535 + df['리테일뉴스심리지수']*0.0926+ df['물류뉴스심리지수']*0.0198,3) 
  elif df['Date'][:4] == '2021':
    return round(df['주택뉴스심리지수']*0.6111 + df['오피스뉴스심리지수']*0.2472 + df['리테일뉴스심리지수']*0.1260+ df['물류뉴스심리지수']*0.0158,3)
  else: 
    return round(df['주택뉴스심리지수']*0.5628 + df['오피스뉴스심리지수']*0.2787 + df['리테일뉴스심리지수']*0.1043+ df['물류뉴스심리지수']*0.0543,3)

In [ ]:
news_df['부동산심리지수'] = news_df.apply(mean,axis=1)

In [ ]:
news_df.to_csv('./drive/MyDrive/krx/부동산심리지수.csv',index = True)

In [ ]:
df = news_df['부동산심리지수']
df_average = df.rolling(window = 7).mean()

In [ ]:
news_df['심리지수_이동평균'] = df_average
news_df.dropna()

            Date  주택뉴스심리지수  오피스뉴스심리지수  리테일뉴스심리지수  물류뉴스심리지수  부동산심리지수  심리지수_이동평균
6     2019-01-07     0.719      0.600        0.2     0.286    0.626   0.516143
7     2019-01-08     0.424      0.385        0.0     0.000    0.363   0.505571
8     2019-01-09     0.625      0.455        0.0     0.500    0.513   0.520286
9     2019-01-10     0.533      0.167        0.0     0.200    0.371   0.468714
10    2019-01-11     0.569      0.800        0.2     0.400    0.594   0.484429
...          ...       ...        ...        ...       ...      ...        ...
1091  2021-12-27     0.474      0.333        0.0     0.500    0.380   0.507429
1092  2021-12-28     0.398      0.000        0.0     0.438    0.250   0.450143
1093  2021-12-29     0.471      0.400        1.0     0.000    0.513   0.451571
1094  2021-12-30     0.569      0.167        0.5     0.636    0.462   0.415000
1095  2021-12-31     0.629      0.167        0.0     0.500    0.434   0.404000

[1090 rows x 7 columns]

In [ ]:
dataset2 = dataset2.reset_index()

In [ ]:
reit_df = pd.concat([news_df,dataset2],axis = 1)

In [ ]:
reit_df.drop(['주택뉴스심리지수','오피스뉴스심리지수','리테일뉴스심리지수','물류뉴스심리지수','index'],axis = 1,inplace = True)